* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.coctel {
  padding: 10vh;
  margin: auto;
  color: white;
  background-image: linear-gradient(45deg, #151515, #3c415c);
  font-size: 30px;
  border-radius: 50px; }

body {
  background-image: url("../img/fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; }

.grilla {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "main" "main" "footer";
  justify-items: stretch;
  align-items: stretch; }

header {
  background-image: linear-gradient(45deg, #151515, #301b3f);
  background-size: 100vw;
  height: 100%;
  width: 100%;
  display: inline-block; }
  header .header {
    grid-area: header; }

.nav {
  margin: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.nav_link--activo {
  font-weight: bold; }

ul,
ol {
  list-style: none; }

.nav li a {
  display: block;
  background-color: black;
  color: blanchedalmond;
  text-decoration: none;
  width: fit-content;
  padding: 10px;
  border-radius: 30px; }

.nav li a:hover {
  background-color: #645e5e; }

.nav > li {
  display: inline-block;
  padding: 10px; }

.nav li ul {
  display: none;
  position: absolute;
  min-width: none; }

.nav li:hover > ul {
  display: inline-block; }

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .bio-titulo {
    display: flex;
    width: 30rem;
    text-align: center; }
  main .bio-texto {
    display: flex;
    width: 30rem; }
  main .img-bio {
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 20px; }
  main h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(45deg, #151515, #3c415c);
    border-radius: 10px; }
  main h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(45deg, #151515, #3c415c);
    border-radius: 10px; }
  main .main {
    grid-area: main; }
  main .carousel {
    width: 40%;
    margin: 00 auto; }
  main .carousel-item img {
    height: 30rem;
    object-fit: cover;
    object-position: center; }
  main .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  main label {
    background-color: #e4cda7; }
  main .list-group-item.active {
    background-color: #8e806a; }
  main .list-group-item {
    background-color: #e4cda7; }

.bio {
  padding: 10vh;
  margin: auto;
  color: white;
  background-image: linear-gradient(45deg, #151515, #3c415c);
  font-size: 30px;
  border-radius: 50px; }

footer {
  grid-area: footer;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }
  footer .m-0 {
    color: white; }
  footer div.footer {
    position: relative; }
  footer a :hover {
    text-decoration: none; }
  footer i.mdi {
    font-size: 20px;
    margin: 0px 10px 2px 10px;
    color: white; }

@media (min-width: 460px) {
  .header {
    display: flex; }
  .nav {
    width: auto; }
  body {
    background-position: 100%; } }

@media (min-width: 600px) {
  .header {
    display: flex;
    margin: auto; }
  .nav {
    width: auto;
    margin: auto; }
  body {
    background-position: 100%; }
  h1 {
    margin: 10px 20px; }
  .celular {
    display: flex;
    padding: 20vh; } }
