* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.coctel {
  padding: 10vh;
  margin: auto;
  color: white;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=50);
  outline: none;
  border: solid 1px #b3aca7;
  font-size: 30px;
  font-family: 'Lato', sans-serif; }

.body1 {
  background-image: url("../img/fondo1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; }

.body2 {
  background-image: url("../img/fondo2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; }

.body3 {
  background-image: url("../img/fondo3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; }

.body4 {
  background-image: url("../img/fondo4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; }

.grilla {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "main" "main" "footer";
  justify-items: stretch;
  align-items: stretch; }

header {
  background-image: linear-gradient(45deg, #151515, #301b3f);
  background-size: 100vw;
  height: 100%;
  width: 100%;
  display: inline-block; }
  header .header {
    grid-area: header; }

.nav {
  flex-wrap: nowrap;
  margin: auto;
  width: 100%;
  font-family: 'Lato', sans-serif; }

.nav_link--activo {
  font-weight: bold; }

ul,
ol {
  list-style: none; }

.nav li a {
  display: block;
  background-color: black;
  color: blanchedalmond;
  text-decoration: none;
  width: fit-content;
  padding: 10px;
  border-radius: 10px; }

.nav li a:hover {
  background-color: #645e5e; }

.nav > li {
  display: inline-block;
  padding: 10px; }

.nav li ul {
  display: none;
  position: absolute;
  min-width: none; }

.nav li:hover > ul {
  display: inline-block; }

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .bio-titulo {
    display: flex;
    width: 30rem;
    text-align: center; }
  main .bio-texto {
    display: flex;
    font-family: 'Lato', sans-serif;
    width: 50rem;
    font-size: 0.675em; }
  main .img-bio {
    display: flex;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    width: 30%;
    border-radius: 1px;
    outline: none;
    border: solid 4px #b3aca7; }
  main h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=50); }
  main h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=50); }
  main .main {
    grid-area: main; }
  main .carousel {
    width: 40%;
    margin: 00 auto; }
  main .carousel-item img {
    height: 30rem;
    object-fit: cover;
    object-position: center; }
  main .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  main label {
    background-color: #e4cda7; }
  main .list-group-item.active {
    background-color: #8e806a; }
  main .list-group-item {
    background-color: #e4cda7; }

.bio {
  padding: 40px 15px 0px 15px;
  margin: auto;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  background: transparent;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=100);
  outline: none;
  border: solid 1px #b3aca7; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af; }

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em; }

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af; }

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em; }

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af; }

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em; }

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1; }

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em; }

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1; }

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em; }

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1; }

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em; }

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1; }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

input:hover {
  background: #b3aca7;
  color: #e2dedb; }

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

textarea:hover {
  background: #b3aca7;
  color: #e2dedb; }

#submit {
  width: 470px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none; }

#submit:hover {
  color: #e2dedb; }

footer {
  grid-area: footer;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }
  footer .m-0 {
    color: white; }
  footer div.footer {
    position: relative; }
  footer a :hover {
    text-decoration: none; }
  footer i.mdi {
    font-size: 20px;
    margin: 0px 10px 2px 10px;
    color: white; }

@media (min-width: 460px) {
  .header {
    display: inline-block; }
  .nav {
    width: auto;
    flex-wrap: nowrap; }
  body {
    background-position: 100%;
    overflow-x: hidden; } }

@media (min-width: 600px) {
  .header {
    display: flex;
    margin: auto; }
  .nav {
    width: auto;
    margin: auto;
    flex-wrap: nowrap; }
  body {
    background-position: 100%;
    overflow-x: hidden; }
  h1 {
    margin: 10px 20px; } }
