*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }



    @import "./variables/mixin";
    @import "./variables/extend";
    @import "./variables/colores";

    @import "./secciones/body";
    @import "./secciones/header";
    @import "./secciones/main";
    @import "./secciones/footer";
    @import "./secciones/medias";