%estilosParrafo {
    padding: 10vh;
    margin: auto;
    color: white;
    background-color: black;
    opacity: 0.8;
    filter:  alpha(opacity=50);
    outline: none;
    border: solid 1px #b3aca7;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    
}