.body1 {
    background-image: url('../img/fondo1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

.body2 {
    background-image: url('../img/fondo2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

.body3 {
    background-image: url('../img/fondo3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;

}

.body4 {
    background-image: url('../img/fondo4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

.grilla {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main"
        "main"
        "main"
        "footer";

    justify-items: stretch;
    align-items: stretch;
}