body {
    background-image: url('/img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

.grilla {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main"
        "main"
        "main"
        "footer";

    justify-items: stretch;
    align-items: stretch;
}