main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bio-titulo {
        display: flex;
        width: 30rem;
        text-align: center;
    }

    .bio-texto {
        display: flex;
        width: 30rem;
    }

    .img-bio {
        display: flex;
        justify-content: center;
        width: 30%;
        border-radius: 20px;
    }

    h1 {
        @include fontStyle ($colorTexto, 40px, bold)
    }

    h2 {
        @include fontStyle ($colorTexto, 20px, bold)
    }


    .main {
        grid-area: main;
    }

    .carousel {
        width: 40%;
        margin: 00 auto;
    }

    .carousel-item img {
        height: 30rem;
        object-fit: cover;
        object-position: center;
    }

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }


    label {
        background-color: rgb(228, 205, 167);
    }

    .list-group-item.active {
        background-color: rgb(142, 128, 106);
    }

    .list-group-item {
        background-color: rgb(228, 205, 167);
    }
}

.bio {
    padding: 10vh;
    margin: auto;
    color: white;
    background-image: linear-gradient(45deg,rgb(21, 21, 21),rgb(60, 65, 92));
    font-size: 30px;
    border-radius: 50px;
}

.coctel {
    @extend %estilosParrafo;
}